doctype html
head
    title Info
    link(href='/css/markdown.min.css', rel='stylesheet')
    link(href='/css/katex.min.css', rel='stylesheet')
body
    #main-container
    script(src='javascripts/info.bundle.js')