doctype html
head
    title Info
    link(href='/css/katex.min.css', rel='stylesheet')
    link(href='/css/texmath.css', rel='stylesheet')
body
    #main-container
        header
            h1 Header
        nav
            div Math
                div
                    a(href="/math") Matrix
                    a(href="/math") Vector
                    a(href="/math") Matrix

            div Chemie
                div
                    div: a(href="/chemie") Bindung
            div Physics
                div
                    div: a(href="/physics") Work Energy
        main
            nav
                p 1
                p 2
                p 3
    script(src='javascripts/main.bundle.js')
