doctype html
head
    title Info
    link(href='/css/markdown.min.css', rel='stylesheet')
    link(href='/css/katex.min.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
body
    #main-container
        header
            h1 Header
        nav
            a(href="/math") math
            a(href="/chemie") chemie
            a(href="/physics") physics
        main
            p main
    script(src='javascripts/main.bundle.js')
