doctype html
head
    title Info
    link(href='/css/katex.min.css', rel='stylesheet')
    link(href='/css/texmath.css', rel='stylesheet')
body
    #main-container
        p Loading
    script(src='javascripts/main.bundle.js')
