* {
    box-sizing: border-box;
}
body{
    height: 100%;
}
#main-container{
    display: grid;
    margin: 0 2em;
    background-color: rgba(249, 237, 224,0.5);
    min-height: 100vh
    border-top-left-radius: 2em
    border-top-right-radius: 2em
    grid-gap: 3em;
    @media(min-width:48em){
        grid-template-columns:1fr 4fr
        >header {
            grid-column:1/3;
        }
    }

    >header {
        h1{
            text-align: center
        }
    }

    >nav {
        margin: 0 1em;
        border-top-left-radius: 0.3em
        border-top-right-radius: 0.3em
        background-color: rgba(191, 242, 203,0.7)
        align-self: start;
        >div{
            &:first-child{
                padding-top: 0.3em;
            }
            &:hover{
                >div{
                    overflow: auto
                    max-height: 5em
                }
            }
            >div{
                    transition-property: all
                    display: flex
                    flex-direction: column
                    transition-duration: 300ms
                    overflow: hidden
                    max-height: 0em
            }

            &:hover{
                >span{
                    padding-bottom: 0.3em
                }
            }
            >span{
                display: inline-block
                text-transform: capitalize
                background-color: aqua
                width:100%;
                font-weight: bold
                font-size: 1.2em
            }

            a{
                background-color: rgba(120, 242, 253,0.5)
                color:rgb(92,148,242)
            }
        } 
    }

    >main {
        >nav{
            display: flex

            >p{
                &:nth-child(even){
                    background-color: aquamarine;
                }
                &:nth-child(odd){
                    background-color: aqua;
                }
                text-align: center
                flex:1
            }
        }
    }

    div:nth-child(4){
        grid-column-start: 1
        grid-column-end: 3
    }
}