* {
    box-sizing: border-box;
}
body{
    height: 100%;
}
#main-container{
    display: grid;
    margin: 0 2em;
    grid-gap: 3em;
    @media(min-width:48em){
        grid-template-columns:1fr 4fr
        >header {
            grid-column:1/3;
        }
    }

    >nav {
        >div{

            &:hover{
                >div{
                    overflow: auto
                    max-height: 5em
                }
            }
            >div{
                    transition-property: all
                    display: flex
                    flex-direction: column
                    transition-duration: 300ms
                    overflow: hidden
                    max-height: 0em
            }

            &:hover{
                >span{
                    display: inline-block
                    margin-bottom: 0.3em
                }
            }
            >span{
                text-transform: capitalize
                border-bottom-style: dashed 
                font-weight: bold
                font-size: 1.2em
            }

            a{
                color:rgb(92,148,242)
            }
        } 
    }
}